%start S

S[SEM = <app(?vp, ?suj)>] -> NP[SEM=?suj] VP[SEM=?vp]
S[SEM = <app(?vp, ?suj)>] -> NP[SEM=?suj] PRel VP[SEM=?vp] VP[SEM=?vp]
#VP[SEM = <app(?np, ?v)>] -> V[SEM=?v] NP[SEM=?np]
VP[SEM = <app(?v, ?pp)>] -> V[SEM=?v] PP[SEM=?pp]
VP[SEM = <app(?v, ?pp)>] -> V[SEM=?v] PP[SEM=?pp]

#NP[SEM = ?np] -> Prep Nprop[SME=?np]
#NP[SEM = ?np] -> Nprop[SEM=?np]
NP[SEM = ?np] -> Det N[SEM = ?np]
NP[SEM = ?np] -> N[SEM = ?np]

V[SEM = <\P.\x.(subject (x) and P(x))>] -> 'est'
PP[SEM = <\x.brule (x)>] -> 'brulé' | 'flambé'
PP[SEM = <\x.froid (x)>] -> 'froid'
#V[SEM = <\y. \x.brulé (x,y)>] -> 'flambé'
#V[SEM = <a>] -> 'a'

##V[SEM = <\y.\x.ete (x,y)>] -> 'été'
#V[SEM = <\y.\x.etait (x,y)>] -> 'était'
#V[SEM = <\y. \x.sont (x,y)1>] -> 'sont'
#V[SEM = <\y. \x.fait (x,y)>] -> 'fait'
#V[SEM = <\y. \x.mort (x,y)>] -> 'mort'
#V[SEM = <\y. \x.était (x,y)>] -> 'était'
#V[SEM = <\y. \x.commis (x,y)>] -> 'commis'
#V[SEM = <\y. \x.pris (x,y)>] -> 'pris'
#V[SEM = <\y. \x.déplacer (x,y)>] -> 'déplacer'

PRel -> 'qui'

N[SEM = <corps>] -> 'corps'
#N[SEM = <meurtre>] -> 'meurtre'
#N[SEM = <tueur>] -> 'tueur'
#N[SEM = <suspect>] -> 'suspecte'
#N[SEM = <suspect>] -> 'suspects'
#N[SEM = <trace>] -> 'traces'
#N[SEM = <pas>] -> 'pas'
#N[SEM = <crime>] -> 'crime'
#N[SEM = <rebel>] -> 'rebels'
#N[SEM = <victime>] -> 'victime'

#Nprop[SEM = <Naboo>] -> 'Naboo'

#Nprop[SEM = <Anakin>] -> 'Anakin'
#Nprop[SEM = <Han>] -> 'Han'
#Nprop[SEM = <Jyn>] -> 'Jyn'
#Nprop[SEM = <Leia>] -> 'Leia'

#Pro -> 'elle' | 'Elle'
#Pro -> 'il' | 'Il'

#Det -> 'la' | 'La' | 'une' | 'Une'
Det -> 'le' | 'Le' | 'un' | 'Un'
#Det -> 'les' | 'Les'
#Det -> 'les' | 'Les'

#Prep -> 'sur'

# P -> 'de' | 'au' | 'à'

# par - préposotion
# car - conjonction
# mais - adverbe
# n'? pas - adverbe
# 3h
# pour - préposition
# se - pronom personnel


# Obi qui est la victime est mort à Naboo